.weatherDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weatherDescription {
  margin-left: 10px;
}

.weatherDescription p {
  margin: 5px 0;
  font-weight: 500;
  color: grey;
}

.weatherDescription--day {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weatherDescription--day h2 {
  margin: 0;
  font-size: 32px;
}

.weatherDescription--day p {
  margin: 2px 0;
  color: grey;
  font-weight: 500;
}
