.weather {
  height: auto;
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.weather .weather__icon {
  margin-bottom: 10;
  padding: 10px 0;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather .weather__temperature--container {
  padding: 0;
  display: flex;

  justify-content: space-around;
}

.weather .weather__temperature--container .weather__temperature {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0 10px;
}

.weather .weather__temperature--container .weather__temperature--unit {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
