.location {
  min-width: 360px;
  max-width: 500px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.location p {
  margin: 0 5px;
}

.result {
  font-weight: 600;
  color: grey;
}

.location__city {
  font-weight: 600;
}

.location__country {
  font-weight: 600;
}
